{% extends 'parent.html'%}
{% block title%}
    <title>child1 ui</title>
{% endblock %}
{% block body_block%}

<div class=" alert alert-info" role="alert">
    <h4 class="alert-heading">Twitter!</h4>
    <p>X, commonly referred to by its former name Twitter, is a social networking service. It is one of the world's largest social media websites and the seventh-most visited website in the world.[3][4] Users can share short text messages, images, and videos in posts (formerly "tweets") and like or repost/retweet other users' content.[5] X also includes direct messaging, video and audio calling, bookmarks, lists and communities, and Spaces, a social audio feature. Users can vote on context added by approved users using the Community Notes feature.</p>
    <hr>
    <p class="mb-0">Twitter's primary purpose is to connect its users and allow them to share their thoughts with their followers and others through the use of hashtags. It can be a source of news, entertainment and a marketing tool for businesses.</p>

</div>
<section class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                          <img src="https://pbs.twimg.com/profile_images/1426520543671382020/B_sjiJUZ_400x400.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                          Vijay Deverkonda
                          
                        </a>
                      </nav>
                      <p>Just watched the film.
                        I don’t know what to say..
                        Overwhelmed
                        Indian cinema new level unlocked
                        Wth was that!
                        I hope it makes a 1000 crores and more.. ❤
                        #Kalki2898AD</p>
                        

                </div>


            </div>

        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                          <img src="https://pbs.twimg.com/profile_images/1426520543671382020/B_sjiJUZ_400x400.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                          Vijay Deverkonda
                          
                        </a>
                      </nav>
                      <p>Just watched the film.
                        I don’t know what to say..
                        Overwhelmed
                        Indian cinema new level unlocked
                        Wth was that!
                        I hope it makes a 1000 crores and more.. ❤
                        #Kalki2898AD</p>
                        

                </div>


            </div>

        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                          <img src="https://pbs.twimg.com/profile_images/1426520543671382020/B_sjiJUZ_400x400.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                          Vijay Deverkonda
                          
                        </a>
                      </nav>
                      <p>Just watched the film.
                        I don’t know what to say..
                        Overwhelmed
                        Indian cinema new level unlocked
                        Wth was that!
                        I hope it makes a 1000 crores and more.. ❤
                        #Kalki2898AD</p>
                        

                </div>


            </div>

        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                          <img src="https://pbs.twimg.com/profile_images/1426520543671382020/B_sjiJUZ_400x400.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                          Vijay Deverkonda
                          
                        </a>
                      </nav>
                      <p>Just watched the film.
                        I don’t know what to say..
                        Overwhelmed
                        Indian cinema new level unlocked
                        Wth was that!
                        I hope it makes a 1000 crores and more.. ❤
                        #Kalki2898AD</p>
                        
                        

                </div>


            </div>

        </div>

    </div>
</section>
{% endblock %}